<main id="root">

  <script type="text/javascript">
  window.images = {
    logo: "<%= asset_path("logo12.png") %>",
    steph_bron: "<%= asset_path("steph_bron.png") %>",
    dwade_bron: "<%= asset_path("dwade_bron.jpg") %>",
    jordan: "<%= asset_path("jordan_96.jpg") %>",
    vc: "<%= asset_path("vc.jpg") %>",
    sample1: "<%= asset_path("splash_sample_1.jpg") %>",
    sample2: "<%= asset_path("splash_sample_2.jpg") %>",
    sample3: "<%= asset_path("splash_sample_3.jpg") %>",

  }
</script>

  <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
    </script>
  <% end %>

  <h1 style='font-family:monospace'> Things are not working as expected! Bear with us!</h1>

  <%= image_tag("zach_lavine.gif", :alt => "dunk") %>
</main>
